@import "../UIKit/index.scss";

.main-wrapper {
  width: 100vw;
  height: 100vh;
}

/* Form */

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  .group {
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $margin * 2;
    height: $height;

    & > :last-child {
      width: 60%;
    }
    .input-container{
      position: relative;
      width: 60%;
      .input{
        width: 100%;
      }
      .arrow {
        position: absolute;
        top: $height/2-2;
        right: 7px;
        border: solid $black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        cursor: pointer;
      }
    }
   
    #participents{
      position: absolute;
      top: $height;
      right: 0;
      list-style: none;
      width: 60%;
      border: 1px solid $dark;
      z-index: 10;
      background-color: $white;
      visibility: hidden;
      li{
        cursor: pointer;
        padding: $padding/4;
        &:hover{
          background-color: $blue;
        }
        &.selected{
          background-color: $blue;
        }
      }
    }
  }

  .btn-wrapper {
    width: 50%;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    .btn {
      width: 100%;
      &:first-child {
        margin-right: $margin;
      }
    }
  }
}

/* Alert*/
.alert-wrapper {
  position: fixed;
  width: 100%;
  background-color: $alertBackground;
  color: $alertText;
  visibility: hidden;
  .alert {
    width: 100%;
    .alert-text {
      color: $alertText;
    }
    span {
      color: $alertText;
      font-size: $fontSize * 1.5;
      cursor: pointer;
    }
  }
}
